@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --ffamily: "Poppins";
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --border-color: #DEDEDE;
    --white-color: #fff;
    --font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ffamily);
}

body {
    font-size: var(--font-size);
}

section {
    max-width: 100%;
    width: 50%;
}

main {
    background: url(images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--red);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0px 160px;
}

.title {
    color: var(--white-color);
    padding-right: 30px;
}

h1 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 2rem;
}

.title p {
    font-weight: 500;
    line-height: 26px;
    opacity: 0.9;
}

.free-trial {
    background-color: var(--blue);
    color: var(--white-color);
    width: 85%;
    text-align: center;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.267px;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.free-trial span {
    font-weight: 600;
    color: var(--white-color);
}

.sign-up {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 35px;
    width: 85%;
}

.sign-up div {
    display: flex;
    flex-direction: column;
}

input, button {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 15px 25px;
    font-weight: 600;
}

button {
    color: var(--white-color);
    background-color: var(--green);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
}

.terms-and-services {
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    color: var(--grayish-blue);
    text-align: center;
}

.terms-and-services a {
    color: var(--red);
    font-weight: 700;
    text-decoration: none;
}

button:focus, input:focus {
    outline: none;
}

@media (max-width: 960px) {
    main {
        flex-direction: column;
        background: url(images/bg-intro-mobile.png);
        background-color: var(--red);
    }

    section {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .free-trial {
        margin-top: 1rem;
    }
    
    .title p {
        text-align: center;
    }

    .title h1 {
        text-align: center;
    }
}

@media screen and (max-width: 680px) {
    main {
        width: 100%;
        padding: 0px 10px;
    }
    
    .title {
        padding: 0;
    }
}